.form {
  background-color: #d8d2e1;
  box-shadow: 1px 1px 2px black;
  display: flex;
  flex-flow: column nowrap;
  margin: 5px;
  min-width: 500px;
  padding: 18px;
  border-radius: 20px;
}

.form .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.form .label {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 15px;
}

.form .label .input {
  border: 1px solid #d5dbd9;
  border-radius: 3px;
  font-size: 15px;
  padding: 8px 10px;
  resize: none;
}

.form .select {
  height: 37px;
  position: relative;
  width: 100%;
}

.form select {
  background-color: white;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
  font-size: 15px;
  outline: none;
  padding: 8px 10px;
}

form .label-trunfo {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 10px;
}

.form button {
  background: #edf1f0;
  border: 0.5px solid black;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 10px;
  text-transform: uppercase;
  width: 100%;
}
