body {
  background-color: #eee5e9;
}

.create-card {
  display: flex;
  margin: 30px;
}

.preview-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin: 5px;
  max-width: 500px;
  width: 100%;
}

.section-cards {
  border-top: 2px solid black;
  display: flex;
  margin-top: 20px;
}

.card-button {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 15px;
}

.card-button .deleteCard {
  font-weight: 700;
  margin-top: 10px;
  padding: 5px 10px;
}
