body {
  background-color: rgb(136, 136, 136);
}

.trunfo-game {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.create-card {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px;
}

.preview-card {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 10px 5px;
  min-width: 500px;
}

.preview-card h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.section-cards {
  align-items: center;
  border-top: 2px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.filter_cards {
  display: flex;
  flex-flow: row;
  margin-top: 15px;
}

.card-button {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 15px;
}

.card-button .deleteCard {
  font-weight: 700;
  margin-top: 10px;
  padding: 5px 10px;
}

.card:hover {
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.6);
  transform: scale(1.2);
}

.cards {
  display: flex;
  flex-flow: row wrap;
}
